@{
    ViewData["Title"] = "Home Page";
}

<div class="col-xs-12 col-lg-12">
    <h1 class="text-primary pt text-center bg-primary">picSidekick</h1>
    <!-- graphic element -->
    <div>
        <img src="/photoes.jpg" class="img-responsive" />
        <br />
        <blockquote class=" ">You can always rely on picSidekick, your photo album rescuer!</blockquote>
        <footer>- Enthusiastic user</footer>
    </div>
</div>

<!-- main actions -->
<div class="col-xs-12 col-md-6 col-lg-5 text-center">
    <h3 class="text-primary">ORGANIZE</h3>
    <ul class="list-unstyled">
        <li style="margin-bottom:0.5em;"> <a asp-controller="Upload" class="btn btn-primary btn-lg btn-block"> Upload a Stack of Pictures</a> </li>
        <li style="margin-bottom:0.5em;"> <a asp-controller="Stack" class="mb btn btn-primary btn-lg  btn-block"> Add info to your Pictures</a> </li>
        <li> <a asp-controller="Album" asp-action="AddAlbum" class="mb btn btn-primary btn-lg  btn-block"> Create a new Album</a> </li>
    </ul>
</div>

<div class="col-xs-0 col-md-0 col-lg-2 text-center">
</div>

<div class="col-xs-12 col-md-6 col-lg-5 text-center">
    <h3 class="text-info">SEARCH</h3>
    <ul class="list-unstyled">
        <li style="margin-bottom:0.5em;">  <a asp-controller="Picture" class="btn btn-info btn-lg  btn-block">View Pictures</a> </li>
        <li style="margin-bottom:0.5em;">  <a asp-controller="Album" class="btn btn-info btn-lg  btn-block"> View Albums</a> </li>
        <li> <a asp-controller="Search" asp-action="" class="btn btn-info btn-lg btn-block"> Search Pictures</a> </li>
    </ul>
    <br />
</div>
<br />
<br />
<div class="col-xs-12 col-lg-12">
    <h3>Manage Picture Information</h3>
    <div class="inline">
        <a asp-controller="Location" class="btn btn-default">Locations</a>
        <a asp-controller="Event" class="btn btn-default">Events</a>
        <a asp-controller="Author" class="btn btn-default">Authors</a>
        <a asp-controller="People" class="btn btn-default">People</a>
    </div>
    
</div>