@model List<PhotoAlbum.Models.Author>

@{
    ViewData["Title"] = "Authors";
}

<h1>@ViewData["Title"]</h1>

@foreach (Author author in Model)
{
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>LastName</td>
                <td>Professional</td>
            </tr>
        </thead>
        <tr>
            <td>@author.Name</td>
            <td>@author.LastName</td>
            
        @{ 
            string pro;
            if (author.Professional.Equals(false))
            {
                pro = "No";
            }
            else
            {
                pro = "Yes";

            }
            }
            <td>@pro<td>
        </tr>
    </table>

}