@{
    ViewData["Title"] = "Pictures";
}

<h1 class="text-primary pt text-center bg-primary">@ViewData["Title"]</h1>

<h5>You uploaded @ViewData["Number Of Pictures"] pictures!</h5><br />

<div class="inline">
<a asp-controller="Stack" asp-action="Index" class="btn btn-info">View Picture's Stacks</a>
<a asp-controller="Upload" asp-action="Index" class="btn btn-default">Add More Pictures</a>
</div>



