@{
    ViewData["Title"] = "Pictures";
}

<h1>@ViewData["Title"]</h1>

<p>You uploaded @ViewData["Number Of Pictures"] pictures!</p><br />


<a asp-controller="Stack" asp-action="Index">View Picture's Stacks</a>
<a asp-controller="Upload" asp-action="Index">Add More Pictures</a>



