@using PhotoAlbum.Models;

@{
    ViewData["Title"] = "Upload Pictures";
}

<h1 class="text-primary pt text-center bg-primary">@ViewData["Title"]</h1>

<h4>Upload one or more pictures:</h4>

<form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="Add">
    <div>
        <input type="file" name="files" multiple />
    </div>
    <br/>
    <input type="hidden" name="name" />

    <div>
        <input type="submit" value="Add" class="btn btn-info" />
    </div>
</form>











