@model List<PhotoAlbum.Models.Place>

@{
    ViewData["Title"] = "Places";
}

<h1 class="text-primary pt text-center bg-primary">@ViewData["Title"]</h1>

@foreach (var place in Model)
{
    <ul>
        <li>@place.Name</li>
    </ul>
}

@if (Model.Count == 0)
{
    <p>No place yet!</p>
}

<a asp-controller="Place" asp-action="Add" class="btn btn-info">Add</a>