@model PhotoAlbum.ViewModels.AddLocationViewModel

@{
    ViewData["Title"] = "Add Location";
}

<h1 class="text-primary pt text-center bg-primary">@ViewData["Title"]</h1>

<form asp-controller="Location" asp-action="Add" method="POST">

    <div class="form-group">
        <label asp-for="Nation"></label>
        <input class="form-control" asp-for="Nation" />
        <span asp-validation-for="Nation"></span>
    </div>

    <div class="form-group">
        <label asp-for="City"></label>
        <input class="form-control" asp-for="City" />
        <span asp-validation-for="City"></span>
    </div>

    <div class="form-group">
        <label asp-for="PlaceID">Place Type</label>
        <select asp-for="PlaceID" asp-items="Model.Places"></select>
        <span asp-validation-for="PlaceID"></span>
        <a asp-controller="Place" asp-action="Add" class="btn">+Add a new Place Type</a>
    </div>
    

    <div class="form-group">
        <label asp-for="PlaceName">Place Name</label>
        <input class="form-control" asp-for="PlaceName" />
    </div>

    <input type="submit" value="Add" class="btn btn-info"/>

</form>
