@model List<PhotoAlbum.Models.Location>

@{
    ViewData["Title"] = "Location";
}

<h1 class="text-primary pt text-center bg-primary">@ViewData["Title"]</h1>

<table class="table">

    <tr>
        <th>Country</th>
        <th>City</th>
        <th><a asp-controller="Place">Place</a></th>
    </tr>


    @foreach (var location in Model)
    {
        <tr>
            <td>@location.Nation</td>
            <td>@location.City</td>
            <td>@location.Place.Name</td>
        </tr>
    }
</table>

@if (Model.Count == 0)
{
    <p>No location yet!</p>
}

<a asp-controller="Location" asp-action="Add" class="btn btn-info">Add</a>

