@model List<PhotoAlbum.Models.EventType>

@{ ViewData["Title"] = "Event Type";
}

<h1 class="text-primary pt text-center bg-primary">@ViewData["Title"]</h1>


@foreach (EventType eventType in Model)
{
    <ul>
        <li>@eventType.Name</li>
    </ul>
}

    <div class="inline">
        <a asp-controller="EventType" asp-action="Add" class="btn btn-info">Add a new Type</a>
        <a asp-controller="Event" asp-action="Add" class="btn btn-default">Add a new Event</a>
    </div>

